.navbar {
    position: fixed;
    background-color: lightblue;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--navbar-height);
}

.logo {
    line-height: var(--navbar-height);
}
#burger-checkbox {
    display: none;
}
   
.burger-label {
    position: absolute;
    top: 0;
    left: 45%;
    /*width: 3rem;*/
    height: 3rem;
}

.burger-label:before {
    content: '';
    background-color: black;
    width: 1rem;
    height: 0.12rem;
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
    
    box-shadow: 0 .25rem 0 0 black,
    0 0.5rem 0 0 black ;
}
.navbar-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
#burger-checkbox:checked ~ .navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.85;
}
.navbar-item {
}

.navbar-item a {
    color: white;
    display: block;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
} 
.navbar-item input {
}
@media (min-width: 768px) {
    .navbar {
        display: flex;        
        align-content: space-between;
    }
    .navbar .logo {
        margin: 0.1rem;
    }
    .navbar .burger-label {
        display: none;
    }
    .navbar-list {
        display: flex;
    }

    .navbar-item a {
        color: black;
        align-content:flex-end;
        font-size: 1rem;
        
        line-height: var(--navbar-height);
        padding: 0 0.2rem;
    }
    .navbar-item input {
        display: inline;
        margin-top: 0.85rem;
        font-size: 1rem;
        line-height: var(--navbar-height);
        padding: 0 1rem;
    }
}