:root {
    --navbar-height: 3rem;
}
a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: darkblue;
}

h1 {
    text-align: center;
}

article {
    border: solid 1rem red;
    display: flex;


}
article a {
    align-content: center;
}
