:root {
    --navbar-height: 3rem;
}
a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: darkblue;
}

h1, p {
    text-align: center;
}
h2 {
    margin-left: 2rem;
}
p {
    margin: 2rem;
}

article {
    border: solid 0.5rem blue;
    display: flex;


}
article a {
    align-content: center;
}
